<ul class="sf-menu">
  <li class="current"><%= link_to "Home", root_url %>
    <!--ul>
      <li><a href="#">Who We Are</a></li>
      <li><a href="#">Latest News</a></li>
      <li><a href="#">Contacts</a></li>
    </ul-->
  </li>
  <li><%= link_to "About us", home_about_us_url %></li>
  <li><%= link_to "Services", home_products_url %></li>
  <li><%= link_to "Carrers", home_careers_url %></li>
  <li><%= link_to "Login", clients_url %></li>
</ul>
