<!--==============================header=================================-->
<div class="bg">
	<div class="header">
      <div class="container_24">
        <div class="grid_24">
          <header>
              <div class="logo">
                  <h1><a href="index.html"><img src="assets/logo.png" alt=""></a></h1>
              </div>
              <nav>
                <%= render :partial => "navigation" %>
              </nav>
              <div class="clear"></div>
          </header>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</div>
<!--==============================content================================-->
  <section id="content">
    <div class="container_24">
        <div class="box-row-2 wrapper">
            <div class="grid_6">
              <div class="box">
                  <a href="#" class="box-1"><strong>Strong</strong></a>
              </div>
            </div>
            <div class="grid_6">
              <div class="box">
                  <a href="#" class="box-2"><strong>Stable</strong></a>
              </div>
            </div>
            <div class="grid_6">
              <div class="box">
                  <a href="#" class="box-3"><strong>Standards</strong></a>
              </div>
            </div>
            <div class="grid_6">
              <div class="box">
                  <a href="#" class="box-4"><strong>e-Commerce</strong></a>
              </div>
            </div>
        </div>
        <div class="wrapper pad1">
          <div class="grid_14 wrap business">
              <img src="assets/page-2-img-1.jpg" alt="" class="img-indent">
              <div class="extra-wrap">
                  <h2 class="p5">Our Business</h2>
                  <!--p class="p6"><a href="#" class="color-1">Pellentesque sed dolor. Aliquam congue fermentum nisl Maurisaccumsan nulla vel diam, Sed in lacus.</a></p-->
                  <p>We are an e-Commerce Database Optimization Services company based in Los Angeles, CA serving top brands <strong>worldwide</strong>.</p>
              </div>
          </div>
          <!--div class="grid_9 prefix_1">
              <h2 class="p5">Testimonials</h2>
              <blockquote class="quotes p6">Adipis nullam consequat scelerisque urna, sed sollicitu
          proin dictum elementum velit. Fusce euismod consequat
          ante. Lorem ipsum dolor sit amet, consec...”
                  <a href="#" class="color-3">Bradley Grosh, manager</a>
              </blockquote>
                <blockquote class="quotes">Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque cursus leo vel metus. Nulla facilisi. Aenean nec eros, ves
          tibulum ante ipsum primis in faucibus orci luctus et ultrices сurae; Suspendisse sollicitudin...”
                  <a href="#" class="color-3">Jessica Priston, production director</a>
              </blockquote>
          </div>
        </div-->
        <!--div class="grid_24 line pad2"></div>
        <div class="grid_24">
            <h2 class="p1">Our People</h2>
            <div class="wrap">
            	<div class="block-1">
                	<img src="assets/page-2-img-2.jpg" alt="">
                    <a href="#" class="color-3">Mark Johnson</a>
                    <p>Product Manager</p>
                </div>
                <div class="block-1">
                	<img src="assets/page-2-img-3.jpg" alt="">
                    <a href="#" class="color-3">Olivia Grosh</a>
                    <p>Support Manager</p>
                </div>
                <div class="block-1">
                	<img src="assets/page-2-img-4.jpg" alt="">
                    <a href="#" class="color-3">Patrick Pool</a>
                    <p>President</p>
                </div>
                <div class="block-1">
                	<img src="assets/page-2-img-5.jpg" alt="">
                    <a href="#" class="color-3">Stella Franklin</a>
                    <p>Project manager</p>
                </div>
                <div class="block-1">
                	<img src="assets/page-2-img-6.jpg" alt="">
                    <a href="#" class="color-3">Sam Kromstain</a>
                    <p>Software developer</p>
                </div>
                <div class="block-1 last">
                	<img src="assets/page-2-img-7.jpg" alt="">
                    <a href="#" class="color-3">John Anderson</a>
                    <p>CEO</p>
                </div>
            </div>
        </div-->
        <div class="clear"></div>
      </div>
  </section>
<!--==============================footer=================================-->
<footer>
	 <div class="container_24">
        <div class="grid_14">
        	<a href="index.html"><img src="assets/footer-logo.png" alt=""></a>
  			<p class="font-13"><span>Phone: +1 800 559 6580</span>  E-mail: <a href="#" class="color-2">contact@db-bud.com</a></p>
            <p class="font-11">&copy; 2013 : <a href="index-6.html" class="color-2">PRIVACY POLICY</a></p>
        </div>
        <!--div class="grid_6 prefix_4">
  			<p><span>Connect With Us</span><a href="#" class="tooltips"><img src="assets/icon-1.jpg" alt=""></a><a href="#" class="tooltips"><img src="assets/icon-2.jpg" alt=""></a><a href="#" class="tooltips"><img src="assets/icon-3.jpg" alt=""></a><a href="#" class="tooltips"><img src="assets/icon-4.jpg" alt=""></a></p>
        </div-->
        <div class="clear"></div>
     </div>
</footer>
