<!--==============================header=================================-->
<div class="bg">
	<div class="header">
      <div class="container_24">
        <div class="grid_24">
          <header>
              <div class="logo">
                  <h1><a href="index.html"><img src="assets/logo.png" alt=""></a></h1>
              </div>
              <nav>
                <%= render :partial => "navigation" %>
              </nav>
              <div class="clear"></div>
          </header>
        </div>
      </div>
    </div>
</div>
<!--==============================content================================-->
  <section id="content">
     <div class="container_24 spec_box">
        <div class="grid_6">
        	<h2 class="top-6 p7">24/7 Support</h2>
            <img src="assets/page-5-img-1.jpg" alt="">
            <p class="top-3">Contact us at <a href="#" class="color-2">contact@db-bud.com</a>. </p>
			<!--a href="#" class="button top-2">more</a-->
        </div>
        <div class="grid_6">
        	<h2 class="top-6 p7">Technical Support</h2>
            <img src="assets/page-5-img-2.jpg" alt="">
            <p class="top-3">Contact us at <a href="#" class="color-2">contact@db-bud.com</a>.</p>
			<!--a href="#" class="button top-2">more</a-->
        </div>
        <div class="grid_6">
        	<h2 class="top-6 p7">Sale representative</h2>
            <img src="assets/page-5-img-3.jpg" alt="">
            <p class="top-3">Contact us at <a href="#" class="color-2">contact@db-bud.com</a>. </p>
			<!--a href="#" class="button top-2">more</a-->
        </div>
        <div class="grid_6">
        	<h2 class="top-6 p7">Software Engineer</h2>
            <img src="assets/page-5-img-4.jpg" alt="">
            <p class="top-3">Contact us at <a href="#" class="color-2">contact@db-bud.com</a>. </p>
			<!--a href="#" class="button top-2">more</a-->
        </div>
        <!--div class="grid_24 line pad-1"></div>
        <div class="grid_11">
        	<h2 class="p9">Support Resources:</h2>
            <div class="wrap block-4">
            	<div class="number">01</div>
                <div class="extra-wrap">
                	<p><a href="#" class="color-1">Acquired Companies Product Support</a></p>
                	<p class="top-4">Adipis nullam consequat scelerisque urna, sed sollicitudin elit lob
ortis varius. Suspendisse ac venenatis velit. Quisque nulla.</p>
                </div>
            </div>
            <div class="wrap block-4 top-9">
            	<div class="number">02</div>
                <div class="extra-wrap">
                	<p><a href="#" class="color-1">Critical Patch Updates and Security Alerts</a></p>
                	<p class="top-4">Duis tempor, nibh in varius auctor, metus felis malesuada
entesque quam vitae habitasse platea dictumst. Aenean sit amet.</p>
                </div>
            </div>
            <div class="wrap block-4 top-9">
            	<div class="number">03</div>
                <div class="extra-wrap">
                	<p><a href="#" class="color-1">Our Company Product Documentation</a></p>
                	<p class="top-4">Aenean sit amet libero ac velit porttitor iaculis. Nullam vitae porta massa. Nulla pretium lacus id ante malesuada.</p>
                </div>
            </div>
        </div>
        <div class="grid_12 prefix_1">
        	<h2 class="p5">Corporate Governance</h2>
            <div class="wrap business">
                <img src="assets/page-5-img-5.jpg" alt="" class="img-indent-3">
                <div class="extra-wrap ">
                    <p class="p6"><a href="#" class="color-1">quam congue fermentum nisl Mauri</a></p>
                    <p>Praesent vestibulum molestie lacus.
drerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesua.</p>
                </div>
            </div>
            <p class="top-10">Praesent vestibulum molestie lacus, drerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesua.da odio. Morbi nunc odio, gravida at.</p>
        </div-->
        <div class="clear"></div>
      </div>
  </section>
<!--==============================footer=================================-->
<footer>
	 <div class="container_24">
        <div class="grid_14">
        	<a href="index.html"><img src="assets/footer-logo.png" alt=""></a>
  			<p class="font-13"><span>Phone: +1 800 559 6580</span>  E-mail: <a href="#" class="color-2">contact@db-bud.com</a></p>
            <p class="font-11">&copy; 2013 : <a href="index-6.html" class="color-2">PRIVACY POLICY</a></p>
        </div>
        <!--div class="grid_6 prefix_4">
  			<p><span>Connect With Us</span><a href="#" class="tooltips"><img src="assets/icon-1.jpg" alt=""></a><a href="#" class="tooltips"><img src="assets/icon-2.jpg" alt=""></a><a href="#" class="tooltips"><img src="assets/icon-3.jpg" alt=""></a><a href="#" class="tooltips"><img src="assets/icon-4.jpg" alt=""></a></p>
        </div-->
        <div class="clear"></div>
     </div>
</footer>
