<% if user_signed_in? %>

<p>

  <p>
    <h2> Welcome back </h2>
  </p>
<p>

  <%= form_for @user_file, :html => { :multipart => true } do |f| %>
     <% if @user_file.errors.any? %>
       <% f.errors.full_messages.each do |error| %>
         <li><% error %></li>
       <% end %>
     <% end %>
     
     <p> <%= f.file_field :database %> </p>
     <p> <%= f.submit "Send" %> </p>
     
  <% end  %> 

<% else %>

  <%= link_to "Sign in", new_session_path(:user)  %><br />

<% end %>
</p>
</p>
