<!--==============================header=================================-->
<div class="bg">
	<div class="header">
      <div class="container_24">
        <div class="grid_24">
          <header>
            <div class="logo">
                <h1><a href="index.html"><img src="<%= asset_path 'logo.png' %>  " alt=""></a></h1>
            </div>
            <nav>
              <%= render :partial => "navigation" %>
            </nav>
            <div class="clear"></div>
          </header>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</div>
<!--==============================content================================-->
  <section id="content">
    <div class="container_24">
      <div class="wrapper">
        <div class="grid_24">
          <div class="flexslider">
            <ul class="slides">
               <li><img src="<%= asset_path 'slider-1.jpg' %>"
               alt=""><div class="banner"><p>Upload your emailing
               list to our <strong>secured</strong> tool</p></div></li>
               <li><img src="<%= asset_path 'slider-2.jpg' %>"
               alt=""><div class="banner"><p>Let us work maximizing
               <strong>your</strong> database</p></div></li>
               <li><img src="<%= asset_path 'slider-3.jpg' %>"
               alt=""><div class="banner"><p>Get a
               complete <strong>free</strong> report on your enhanced database</p></div></li>
               <li><img src="<%= asset_path 'slider-4.jpg' %>"
               alt=""><div class="banner"><p> Minimize
               un-subscriptions, <strong>empower</strong> your newsletters.</p></div></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="box-row wrapper">
          <div class="grid_6">
            <div class="box">
                <a href="#" class="box-1"><strong>Upload</strong></a>
            </div>
          </div>
          <div class="grid_6">
            <div class="box">
                <a href="#" class="box-2"><strong>Clean & Qualify</strong></a>
            </div>
          </div>
          <div class="grid_6">
            <div class="box">
                <a href="#" class="box-3"><strong>Get a report</strong></a>
            </div>
          </div>
          <div class="grid_6">
            <div class="box">
                <a href="#" class="box-4"><strong>Boost ROI</strong></a>
            </div>
          </div>
      </div>
     </div>
     <div class="container_24">
        <div class="grid_6">
            <h3 class="top-1 p2">Why Choose us?</h3>
            <p>DB bud offers powerfull services to boost you emailing database ROI by increasint you list deliverability and augmenting you targetting.</p>
<p> </p>
			<!--a href="#" class="button top-2">more</a-->
        </div>
        <div class="grid_6">
            <h3 class="top-1 p2">DB Cleaner</h3>
            <p>Cleans your DB, getting rid of hard bounces, robinsons, minimizing the risk of spam-traps.</p>
<p>What are you waiting to <strong>Boost Your Derivelability</strong>? </p>
			<!--a href="#" class="button top-2">more</a-->
        </div>
        <div class="grid_6">
            <h3 class="top-1 p2">DB Optimizer</h3>
            <p>Gets important data of your users, complementing your current information so you can target your newsletters to a whole new level.</p>
<p>Get more relevant and <strong>Boost your newsletter's ROI !</strong>. </p>
			<!--a href="#" class="button top-2">more</a-->
        </div>
        <!--div class="grid_6">
            <h3 class="top-1 p2">Featured Services</h3>
            <p>Natoqe penatus partur montes diculus duim fusegin alesda morb nuncodio.
Gravida curs necluctus tristique auctor ultricies acmsan malesuada.</p>
<p>Donec situmamet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p>
			<a href="#" class="button top-2">more</a>
        </div-->
        <div class="grid_24 line pad-1"></div>
        <div class="grid_11">
        	<h2 class="p3">Who We Are</h2>
            <img src="<%= asset_path 'page-1-img-1.jpg' %>" alt="">
            <p class="p1 top-3"><strong>e-Commerce Database Optimization Specialists</strong> based in Los Angeles, CA serving top brands <strong>worldwide</strong>.</p>
        </div>
        <!--div class="grid_12 prefix_1">
        	<h2 class="p4">Recent News</h2>
            <div class="wrap date">
            	<div class="date-text">27/02</div>
                <div class="extra-wrap">
                	<a href="#" class="color-1">Lorem ipsum dolor amet consectetur</a>
                    <p class="font-13 top-4">Adipis nullam consequat scelerisque urna, sed sollicitudin elit lobortis varius. Suspendisse ac venenatis velit.</p>
                </div>
            </div>
            <div class="wrap date top-5">
            	<div class="date-text">25/02</div>
                <div class="extra-wrap">
                	<a href="#" class="color-1">Lorem ipsum dolor amet consectetur</a>
                    <p class="font-13 top-4">Duis tempor, nibh in varius auctor, metus felis malesuada sed pellentesque quam vitae habitasse platea dictumst. Aenean sit amet libero ac velit porttitor iaculis.</p>
                </div>
            </div>
            <div class="wrap date top-5">
            	<div class="date-text">22/02</div>
                <div class="extra-wrap">
                	<a href="#" class="color-1">Lorem ipsum dolor amet consectetur</a>
                    <p class="font-13 top-4">Aenean sit amet libero ac velit porttitor iaculis. Nullam vitae porta massa. Nulla pretium lacus id ante malesuada.</p>
                </div>
            </div>
            <a href="#" class="button top-2">more</a>
        </div-->
        <!--div class="grid_24 banners">
        	<a href="#" class="banner-1"></a><a href="#" class="banner-2"></a><a href="#" class="banner-3"></a><a href="#" class="banner-4"></a><a href="#" class="banner-5 last"></a>
        </div>
        <div class="clear"></div-->
      </div>
  </section>
<!--==============================footer=================================-->
<footer>
	 <div class="container_24">
        <div class="grid_14">
        	<a href="index.html">
                  <img src="<%= asset_path 'footer-logo.png' %>" alt=""></a>
  			<p class="font-13"><span>Phone: +1 800 559 6580</span>  E-mail: <a href="#" class="color-2">contact@db-bud.com</a></p>
            <p class="font-11">&copy; 2013 : <a href="index-6.html" class="color-2">PRIVACY POLICY</a><!-- {%FOOTER_LINK} --></p>
        </div>
        <!--div class="grid_6 prefix_4">
  			<p><span>Connect With Us</span><a href="#"
  			class="tooltips">
                            <img src="<%= asset_path 'icon-1.jpg' %>" alt=""></a>
                          <a class="tooltips"><img src="<%= asset_path 'icon-2.jpg' %>" alt=""></a><a href="#"
  			class="tooltips">
                            <img src="<%= asset_path 'icon-3.jpg' %>" alt=""></a><a href="#"
  			class="tooltips">
                            <img src="<%= asset_path 'icon-4.jpg' %>" alt=""></a></p>
        </div-->
        <div class="clear"></div>
     </div>
</footer>
