<!--==============================header=================================-->
<div class="bg">
	<div class="header">
      <div class="container_24">
        <div class="grid_24">
          <header>
              <div class="logo">
                  <h1><a href="index.html"><img src="assets/logo.png" alt=""></a></h1>
              </div>
              <nav>
                <%= render :partial => "navigation" %>
              </nav>
              <div class="clear"></div>
          </header>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</div>
<!--==============================content================================-->
  <section id="content">
     <div class="container_24 gallery">
        <div class="grid_24">
        	<h2 class="top-6 p7">Our Services</h2>
            <div class="wrap">
                <div class="block-3">
                	<a class="lightbox-image" href="#"><img src="assets/page-4-img-5.jpg" alt=""></a>
                    <p><strong>DB Cleaner</strong></p>
                    <p class="font-13 top-4">Cleans your DB, getting rid of hard bounces, robinsons, minimizing the risk of spam-traps.</p>
                </div>
                <div class="block-3">
                	<a class="lightbox-image" href="#"><img src="assets/page-4-img-2.jpg" alt=""></a>
                    <p><strong>DB Optimizer</strong></p>
                    <p class="font-13 top-4">Gets important data of your users, complementing your current information so you can target your newsletters to a whole new level.</p>
                </div>
                <!--div class="block-3">
                	<a class="lightbox-image" href="#"><img src="assets/page-4-img-3.jpg" alt=""></a>
                    <p><a href="#" class="color-1">product #3</a></p>
                    <p class="font-13 top-4">Consectetuerlit sediam nonummibhn
cidunt utaoreet doloreagnarat volutpat
wisi enim toremen.</p>
                </div>
                <div class="block-3 last">
                	<a class="lightbox-image" href="#"><img src="assets/page-4-img-4.jpg" alt=""></a>
                    <p><a href="#" class="color-1">product #4</a></p>
                    <p class="font-13 top-4">Consectetuerlit sediam nonummibhn
cidunt utaoreet doloreagnarat volutpat
wisi enim toremen.</p>
                </div-->
            </div>
            <!--div class="wrap top-8">
                <div class="block-3">
                	<a class="lightbox-image" href="#"><img src="assets/page-4-img-5.jpg" alt=""></a>
                    <p><a href="#" class="color-1">product #5</a></p>
                    <p class="font-13 top-4">Consectetuerlit sediam nonummibhn
cidunt utaoreet doloreagnarat volutpat
wisi enim toremen.</p>
                </div>
                <div class="block-3">
                	<a class="lightbox-image" href="#"><img src="assets/page-4-img-6.jpg" alt=""></a>
                    <p><a href="#" class="color-1">product #6</a></p>
                    <p class="font-13 top-4">Consectetuerlit sediam nonummibhn
cidunt utaoreet doloreagnarat volutpat
wisi enim toremen.</p>
                </div>
                <div class="block-3">
                	<a class="lightbox-image" href="#"><img src="assets/page-4-img-7.jpg" alt=""></a>
                    <p><a href="#" class="color-1">product #7</a></p>
                    <p class="font-13 top-4">Consectetuerlit sediam nonummibhn
cidunt utaoreet doloreagnarat volutpat
wisi enim toremen.</p>
                </div>
                <div class="block-3 last">
                	<a class="lightbox-image" href="#"><img src="assets/page-4-img-8.jpg" alt=""></a>
                    <p><a href="#" class="color-1">product #8</a></p>
                    <p class="font-13 top-4">Consectetuerlit sediam nonummibhn
cidunt utaoreet doloreagnarat volutpat
wisi enim toremen.</p>
                </div>
            </div-->
        </div>
        <div class="clear"></div>
      </div>
  </section>
<!--==============================footer=================================-->
<footer>
	 <div class="container_24">
        <div class="grid_14">
        	<a href="index.html"><img src="assets/footer-logo.png" alt=""></a>
  			<p class="font-13"><span>Phone: +1 800 559 6580</span>  E-mail: <a href="#" class="color-2">contact@db-bud.com</a></p>
            <p class="font-11">&copy; 2013 : <a href="index-6.html" class="color-2">PRIVACY POLICY</a></p>
        </div>
        <!--div class="grid_6 prefix_4">
  			<p><span>Connect With Us</span><a href="#" class="tooltips"><img src="assets/icon-1.jpg" alt=""></a><a href="#" class="tooltips"><img src="assets/icon-2.jpg" alt=""></a><a href="#" class="tooltips"><img src="assets/icon-3.jpg" alt=""></a><a href="#" class="tooltips"><img src="assets/icon-4.jpg" alt=""></a></p>
        </div-->
        <div class="clear"></div>
     </div>
</footer>
