<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="Your name">
    <%= csrf_meta_tags %>
    <title><%= content_for?(:title) ? yield(:title) : "Bonotres" %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= stylesheet_link_tag "style", :media => "all" %>
    <%= stylesheet_link_tag "flexslider", :media => "all" %>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="images/favicon.ico"
	type="image/x-icon" />
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
    <%= javascript_include_tag "jquery.mobilemenu" %>
    <%= javascript_include_tag "superfish" %>
    <%= javascript_include_tag "jquery.flexslider" %>
    <%= javascript_include_tag "jquery.easing.1.3" %>
    <%= javascript_include_tag "script" %>
    <script type="text/javascript">
		  $(window).load(function() {
				$('.flexslider').flexslider({
				  animation: "slide"
				});
			 });
	 </script>
	<!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
	<![endif]-->
</head>
<body>
  <%= yield %>
</body>
</html>
